In [6]:
import pandas as pd

In [7]:
df1=pd.read_csv("C:/Users/ashis/Downloads/degree_500.csv")
df2=pd.read_csv("C:/Users/ashis/Downloads/degree_500(2).csv")
df3=pd.read_csv("C:/Users/ashis/Downloads/degree_500(3).csv")

In [8]:
df_new=pd.concat([df1,df2,df3])
df_new

,cleaned_desc,degre_model,Modified,category
0,Department/Unit:Patient Billing ServiceWork Sh...,Associate of Applied Science (AAS) degree with...,Associate of Applied Science (AAS) degree with...,associate degree
1,Department/Unit:Health Information ServicesWor...,Associates degree in Health Information Manage...,Associates degree in Health Information Manage...,associate degree
2,Department/Unit:RegistrationWork Shift:Day (Un...,Associate Degree preferredLicensure,Associate Degree preferredLicensure,associate degree
3,"43 New Scotland Avenue Albany, NY 12208Departm...",Artic Sun,NaN,NaN
4,"43 New Scotland Avenue Albany, NY 12208Departm...",QualificationsMaster's Degree in nursing,QualificationsMaster's Degree in nursing,postgraduate degree
...,...,...,...,...
1492,Create Your Career With Us! Join our not-for-p...,High school graduate or general equivalency di...,NaN,NaN
1493,Create Your Career With Us! Join our not-for-p...,registered nurse (RN).,NaN,NaN
1494,Create Your Career With Us! Join our not-for-p...,High school graduate or general equivalency di...,NaN,NaN
1495,Create Your Career With Us!Join our not-for-pr...,Completion of an accredited nursing assistant ...,NaN,NaN
1496,Create Your Career With Us! Join our not-for-p...,EnvironmentJob Summary,NaN,NaN

In [9]:
df_new.dropna(inplace=True)
df_new

,cleaned_desc,degre_model,Modified,category
0,Department/Unit:Patient Billing ServiceWork Sh...,Associate of Applied Science (AAS) degree with...,Associate of Applied Science (AAS) degree with...,associate degree
1,Department/Unit:Health Information ServicesWor...,Associates degree in Health Information Manage...,Associates degree in Health Information Manage...,associate degree
2,Department/Unit:RegistrationWork Shift:Day (Un...,Associate Degree preferredLicensure,Associate Degree preferredLicensure,associate degree
4,"43 New Scotland Avenue Albany, NY 12208Departm...",QualificationsMaster's Degree in nursing,QualificationsMaster's Degree in nursing,postgraduate degree
6,"43 New Scotland Avenue Albany, NY 12208Departm...",New Graduate Nurses are welcome,New Graduate Nurses are welcome,postgraduate degree
...,...,...,...,...
491,"DetailsSign-on bonus: $10,000.00Department: Su...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
493,"DetailsSign-on bonus: $20,000Department:&nbsp;...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
494,"DetailsSign-on bonus: 7,500.00Department: SANE...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
496,"DetailsSign-on bonus: $10,000-$30,000Departmen...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
498,DetailsDepartment: Bariatric / ProgressiveSche...,Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school

In [10]:
df_new

,cleaned_desc,degre_model,Modified,category
0,Department/Unit:Patient Billing ServiceWork Sh...,Associate of Applied Science (AAS) degree with...,Associate of Applied Science (AAS) degree with...,associate degree
1,Department/Unit:Health Information ServicesWor...,Associates degree in Health Information Manage...,Associates degree in Health Information Manage...,associate degree
2,Department/Unit:RegistrationWork Shift:Day (Un...,Associate Degree preferredLicensure,Associate Degree preferredLicensure,associate degree
4,"43 New Scotland Avenue Albany, NY 12208Departm...",QualificationsMaster's Degree in nursing,QualificationsMaster's Degree in nursing,postgraduate degree
6,"43 New Scotland Avenue Albany, NY 12208Departm...",New Graduate Nurses are welcome,New Graduate Nurses are welcome,postgraduate degree
...,...,...,...,...
491,"DetailsSign-on bonus: $10,000.00Department: Su...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
493,"DetailsSign-on bonus: $20,000Department:&nbsp;...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
494,"DetailsSign-on bonus: 7,500.00Department: SANE...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
496,"DetailsSign-on bonus: $10,000-$30,000Departmen...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
498,DetailsDepartment: Bariatric / ProgressiveSche...,Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school

In [11]:
df_a=df_new.rename(columns={'degre_mode':'Degree'})

In [12]:
df_a

,cleaned_desc,degre_model,Modified,category
0,Department/Unit:Patient Billing ServiceWork Sh...,Associate of Applied Science (AAS) degree with...,Associate of Applied Science (AAS) degree with...,associate degree
1,Department/Unit:Health Information ServicesWor...,Associates degree in Health Information Manage...,Associates degree in Health Information Manage...,associate degree
2,Department/Unit:RegistrationWork Shift:Day (Un...,Associate Degree preferredLicensure,Associate Degree preferredLicensure,associate degree
4,"43 New Scotland Avenue Albany, NY 12208Departm...",QualificationsMaster's Degree in nursing,QualificationsMaster's Degree in nursing,postgraduate degree
6,"43 New Scotland Avenue Albany, NY 12208Departm...",New Graduate Nurses are welcome,New Graduate Nurses are welcome,postgraduate degree
...,...,...,...,...
491,"DetailsSign-on bonus: $10,000.00Department: Su...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
493,"DetailsSign-on bonus: $20,000Department:&nbsp;...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
494,"DetailsSign-on bonus: 7,500.00Department: SANE...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
496,"DetailsSign-on bonus: $10,000-$30,000Departmen...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
498,DetailsDepartment: Bariatric / ProgressiveSche...,Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school

In [13]:
df_new

,cleaned_desc,degre_model,Modified,category
0,Department/Unit:Patient Billing ServiceWork Sh...,Associate of Applied Science (AAS) degree with...,Associate of Applied Science (AAS) degree with...,associate degree
1,Department/Unit:Health Information ServicesWor...,Associates degree in Health Information Manage...,Associates degree in Health Information Manage...,associate degree
2,Department/Unit:RegistrationWork Shift:Day (Un...,Associate Degree preferredLicensure,Associate Degree preferredLicensure,associate degree
4,"43 New Scotland Avenue Albany, NY 12208Departm...",QualificationsMaster's Degree in nursing,QualificationsMaster's Degree in nursing,postgraduate degree
6,"43 New Scotland Avenue Albany, NY 12208Departm...",New Graduate Nurses are welcome,New Graduate Nurses are welcome,postgraduate degree
...,...,...,...,...
491,"DetailsSign-on bonus: $10,000.00Department: Su...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
493,"DetailsSign-on bonus: $20,000Department:&nbsp;...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
494,"DetailsSign-on bonus: 7,500.00Department: SANE...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
496,"DetailsSign-on bonus: $10,000-$30,000Departmen...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
498,DetailsDepartment: Bariatric / ProgressiveSche...,Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school

In [14]:
df_new.dropna(inplace=True)

In [15]:
df_new

,cleaned_desc,degre_model,Modified,category
0,Department/Unit:Patient Billing ServiceWork Sh...,Associate of Applied Science (AAS) degree with...,Associate of Applied Science (AAS) degree with...,associate degree
1,Department/Unit:Health Information ServicesWor...,Associates degree in Health Information Manage...,Associates degree in Health Information Manage...,associate degree
2,Department/Unit:RegistrationWork Shift:Day (Un...,Associate Degree preferredLicensure,Associate Degree preferredLicensure,associate degree
4,"43 New Scotland Avenue Albany, NY 12208Departm...",QualificationsMaster's Degree in nursing,QualificationsMaster's Degree in nursing,postgraduate degree
6,"43 New Scotland Avenue Albany, NY 12208Departm...",New Graduate Nurses are welcome,New Graduate Nurses are welcome,postgraduate degree
...,...,...,...,...
491,"DetailsSign-on bonus: $10,000.00Department: Su...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
493,"DetailsSign-on bonus: $20,000Department:&nbsp;...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
494,"DetailsSign-on bonus: 7,500.00Department: SANE...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
496,"DetailsSign-on bonus: $10,000-$30,000Departmen...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
498,DetailsDepartment: Bariatric / ProgressiveSche...,Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school

In [16]:
df_new

,cleaned_desc,degre_model,Modified,category
0,Department/Unit:Patient Billing ServiceWork Sh...,Associate of Applied Science (AAS) degree with...,Associate of Applied Science (AAS) degree with...,associate degree
1,Department/Unit:Health Information ServicesWor...,Associates degree in Health Information Manage...,Associates degree in Health Information Manage...,associate degree
2,Department/Unit:RegistrationWork Shift:Day (Un...,Associate Degree preferredLicensure,Associate Degree preferredLicensure,associate degree
4,"43 New Scotland Avenue Albany, NY 12208Departm...",QualificationsMaster's Degree in nursing,QualificationsMaster's Degree in nursing,postgraduate degree
6,"43 New Scotland Avenue Albany, NY 12208Departm...",New Graduate Nurses are welcome,New Graduate Nurses are welcome,postgraduate degree
...,...,...,...,...
491,"DetailsSign-on bonus: $10,000.00Department: Su...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
493,"DetailsSign-on bonus: $20,000Department:&nbsp;...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
494,"DetailsSign-on bonus: 7,500.00Department: SANE...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
496,"DetailsSign-on bonus: $10,000-$30,000Departmen...",Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school
498,DetailsDepartment: Bariatric / ProgressiveSche...,Diploma from an accredited school/college of n...,Diploma from an accredited school/college of n...,high school

In [17]:
df1=pd.read_csv("C:/Users/ashis/Downloads/degree_500(4).csv")
df2=pd.read_csv("C:/Users/ashis/Downloads/degree_500(5).csv")
df_b=pd.concat([df1,df2])

In [18]:
df_b

,cleaned_desc,Degree,Category
0,Create Your Career With Us! Join our not-for-p...,High school graduate or general equivalency di...,high school
1,Create Your Career With Us! Join our not-for-p...,High school graduate or general equivalency di...,high school
2,Create Your Career With Us! Join our not-for-p...,High school graduate or general equivalency di...,high school
3,Create Your Career With Us! Join our not-for-p...,DiscountsJob Summary The Nursing Assistant,NaN
4,Create Your Career With Us! Join our not-for-p...,The Nursing Assistant,NaN
...,...,...,...
494,Create Your Career With Us! Join our not-for-p...,Demonstrates competency and practices within t...,NaN
495,Create Your Career With Us! Join our not-for-p...,"QualificationsBachelor s degree in nursing, re...",bachelor degree
496,Create Your Career With Us! Join our not-for-p...,Demonstrates competency and practices within t...,NaN
497,Create Your Career With Us! Join our not-for-p...,Bachelor s Degree in nursing preferred,bachelor degree
498,Create Your Career With Us! Join our not-for-p...,Registered Nurse,NaN

In [19]:
df_b.dropna(inplace=True)

In [20]:
df_b

,cleaned_desc,Degree,Category
0,Create Your Career With Us! Join our not-for-p...,High school graduate or general equivalency di...,high school
1,Create Your Career With Us! Join our not-for-p...,High school graduate or general equivalency di...,high school
2,Create Your Career With Us! Join our not-for-p...,High school graduate or general equivalency di...,high school
6,Create Your Career With Us! Join our not-for-p...,High school graduate or general equivalency di...,high school
8,Create Your Career With Us! Join our not-for-p...,High school graduate or general equivalency di...,high school
...,...,...,...
487,Create Your Career With Us! Join our not-for-p...,Bachelor s Degree in nursing preferred,bachelor degree
490,"Create Your Career with Us For over 100 years,...",Graduate from a nationally accredited nursing ...,bachelor degree
491,Create Your Career With Us! Join our not-for-p...,Bachelor s Degree in nursing preferred,bachelor degree
495,Create Your Career With Us! Join our not-for-p...,"QualificationsBachelor s degree in nursing, re...",bachelor degree
497,Create Your Career With Us! Join our not-for-p...,Bachelor s Degree in nursing preferred,bachelor degree

In [21]:
del df_b['cleaned_desc']

In [22]:
df_b

                                                Degree         Category
0    High school graduate or general equivalency di...      high school
1    High school graduate or general equivalency di...      high school
2    High school graduate or general equivalency di...      high school
6    High school graduate or general equivalency di...      high school
8    High school graduate or general equivalency di...      high school
..                                                 ...              ...
487             Bachelor s Degree in nursing preferred  bachelor degree
490  Graduate from a nationally accredited nursing ...  bachelor degree
491             Bachelor s Degree in nursing preferred  bachelor degree
495  QualificationsBachelor s degree in nursing, re...  bachelor degree
497             Bachelor s Degree in nursing preferred  bachelor degree

[370 rows x 2 columns]

In [23]:
del df_new['Modified']

In [24]:
df_new = df_new.rename(columns={'degre_model':'Degree', 'category':'Category'})

In [25]:
df_new

,cleaned_desc,Degree,Category
0,Department/Unit:Patient Billing ServiceWork Sh...,Associate of Applied Science (AAS) degree with...,associate degree
1,Department/Unit:Health Information ServicesWor...,Associates degree in Health Information Manage...,associate degree
2,Department/Unit:RegistrationWork Shift:Day (Un...,Associate Degree preferredLicensure,associate degree
4,"43 New Scotland Avenue Albany, NY 12208Departm...",QualificationsMaster's Degree in nursing,postgraduate degree
6,"43 New Scotland Avenue Albany, NY 12208Departm...",New Graduate Nurses are welcome,postgraduate degree
...,...,...,...
491,"DetailsSign-on bonus: $10,000.00Department: Su...",Diploma from an accredited school/college of n...,high school
493,"DetailsSign-on bonus: $20,000Department:&nbsp;...",Diploma from an accredited school/college of n...,high school
494,"DetailsSign-on bonus: 7,500.00Department: SANE...",Diploma from an accredited school/college of n...,high school
496,"DetailsSign-on bonus: $10,000-$30,000Departmen...",Diploma from an accredited school/college of n...,high school
498,DetailsDepartment: Bariatric / ProgressiveSche...,Diploma from an accredited school/college of n...,high school

In [26]:
df_ab=pd.concat([df_new,df_b])

In [37]:
df_ab

                                                Degree             Category
0    Associate of Applied Science (AAS) degree with...     associate degree
1    Associates degree in Health Information Manage...     associate degree
2                  Associate Degree preferredLicensure     associate degree
4             QualificationsMaster's Degree in nursing  postgraduate degree
6                      New Graduate Nurses are welcome  postgraduate degree
..                                                 ...                  ...
487             Bachelor s Degree in nursing preferred      bachelor degree
490  Graduate from a nationally accredited nursing ...      bachelor degree
491             Bachelor s Degree in nursing preferred      bachelor degree
495  QualificationsBachelor s degree in nursing, re...      bachelor degree
497             Bachelor s Degree in nursing preferred      bachelor degree

[1202 rows x 2 columns]

In [28]:
df_ab.to_csv('data_model_training.csv')

In [29]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [76]:
df_ab['Degree'].isnull().value_counts()

Degree
False    1202
Name: count, dtype: int64

In [80]:
# Degrees=list(df_ab['Degree'])
Categorys=list(df_ab['Category'])X_train, X_test, y_train, y_test = train_test_split(df_ab['Degree'].values ,df_ab['Category'].values,test_size=0.2, random_state=42)

In [81]:
# !pip install -U sentence-transformers
from sentence_transformers import SentenceTransformer
# sentences = ["This is an example sentence", "Each sentence is converted"]

model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')
x_training= model.encode(X_train)
x_testing= model.encode(X_test)
#         print(embeddings)

In [82]:
x_training

array([[-0.05565486, -0.02786544, -0.02300575, ..., -0.01845844,
         0.0788949 , -0.03623012],
       [-0.00032487,  0.0281119 ,  0.03668623, ..., -0.02075444,
         0.07376402, -0.0222666 ],
       [-0.05565486, -0.02786544, -0.02300575, ..., -0.01845844,
         0.0788949 , -0.03623012],
       ...,
       [-0.01496436, -0.05050534, -0.07710812, ..., -0.00990636,
         0.10103928,  0.02893022],
       [-0.03011305,  0.00369587,  0.03533458, ..., -0.01751641,
        -0.0531243 , -0.01819815],
       [-0.01496436, -0.05050534, -0.07710812, ..., -0.00990636,
         0.10103928,  0.02893022]], dtype=float32)

In [83]:
d={'associate degree'
:0,'postgraduate degree'
:1,'bachelor degree'
:2,'professional certificate':3,'high school':4}

In [84]:
df_ab['Category'].map(d)

0      0.0
1      0.0
2      0.0
4      1.0
6      1.0
      ...
487    2.0
490    2.0
491    2.0
495    2.0
497    2.0
Name: Category, Length: 1202, dtype: float64

In [85]:
classifier = LogisticRegression()
classifier.fit(x_training,y_train)

LogisticRegression()

In [89]:
predictions = classifier.predict(x_testing)

# Calculate accuracy
accuracy = accuracy_score(y_test, predictions)
print(f"Accuracy: {accuracy}")

Accuracy: 0.8838174273858921

In [95]:
test=["Masterâ€™s degree or PhD in Engineering, Computer Science, or a related technical field."]
enc=model.encode(test)
classifier.predict(enc)

array(['high school'], dtype=object)